<ion-view title="Track" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="track-form4" class="list">
            <label class="item item-input" id="track-input3">
                <span class="input-label">Tracking Number</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div id="track-button-bar1" class="button-bar">
            <button id="track-button4" class="button button-stable  button-block">Fedex</button>
            <button id="track-button5" class="button button-stable  button-block">UPS</button>
            <button id="track-button6" class="button button-stable  button-block">USPS</button>
        </div>
    </ion-content>
</ion-view>